@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 114px;
  background-color: #eaeaea;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(img/bg-computer2.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(172, 171, 171, 0.95);
  z-index: 5;
  font-size: 18px;
}

header .logo {
  position: relative;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: backround;
}

header .nav a:not(:last-child) {
  margin-right: 30px;
}

header .nav a:hover {
  background-color: #fff;
}

/* Akhir header */

/* Menu navbar learning, about dan contact */
.learning {
  padding-top: 120px;
}

.about {
  padding-top: 120px;
}

.contact {
  padding-top: 120px;
}

.content .info h2 {
  color: rgb(80, 78, 78);
  font-size: 67px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 70px;
  margin-bottom: 30px;
  margin-left: 240px;
  margin-top: 50px;
}

.content .info h2 span {
  color: rgb(80, 78, 78);
  font-size: 50px;
  font-weight: 500;
  margin-left: 20px;
}

.content .info p {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 40px;
  margin-left: 300px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.icon a {
  position: relative;
  color: #222;
  font-size: 35px;
  transition: 0.3s;
  transition-property: transform;
}

.icon a:not(:last-child) {
  margin-right: 40px;
}

.icon a:hover {
  transform: scale(1.3);
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

/* Akhir Menu navbar learning, about dan contact */

/* Learning */
.learning {
  min-height: 700px;
  padding-top: 130px;
}
.learning h1 {
  text-align: center;
}

hr {
  width: 230px;
  margin: 10px auto;
}

.learning .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  text-align: center;
}

.learning .container a {
  text-decoration: none;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  margin: 8px;
  padding: 15px;
  background-color: #444;
  color: white;
}

a .card .konten .sub-judul {
  font-weight: bold;
  font-size: 18px;
}
.card .gambar img {
  width: 95%;
  height: 140px;
  border-radius: 8px;
}

.learning .container a .card .gambar {
  padding-bottom: 6px;
}

.learning .container a .card {
  transition-property: transform;
  transition: 0.3s;
}

.learning .container a .card:hover {
  transform: scale(1.035);
}

.card .konten .paragraf {
  font-size: 12px;
  color: #999;
}

.card .konten .sub-judul:hover {
  color: rgb(97, 99, 246);
}

.fa-html5 {
  color: rgb(255, 136, 0);
}

.fa-css3-alt {
  color: rgb(96, 96, 248);
}

.fa-js-square {
  color: rgb(255, 179, 0);
}

/* Akhir Learning */

/* About */
.about {
  min-height: 500px;
  padding-top: 130px;
  padding-bottom: 100px;
}
.about h1 {
  text-align: center;
}

.about .container-about .anggota {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
  background-color: #444;
  color: white;
}

.container-about {
  width: 90%;
  margin: 50px auto;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.about .container-about img {
  border-radius: 50%;
}

.about .container-about i {
  font-size: 25px;
  margin-top: 10px;
}
.about .container-about .anggota .link-profil {
  border: 1px solid #0dcaf0;
  padding: 2px 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.about .container-about .anggota .link-profil a {
  text-decoration: none;
  color: #0dcaf0;
}

.about .container-about .anggota .link-profil:hover {
  background-color: #0dcaf0;
}

.about .container-about .anggota .link-profil a:hover {
  color: black;
}
.about p a i {
  transition: 0.3s;
  color: #222;
}

.about p a i:hover {
  transform: scale(1.3);
}

/* Akhir about */

/* Contact */

.menu-contact {
  width: 100%;
  margin: 20px auto;
  padding: 130px 0 50px;
  background-color: rgb(221, 219, 219);
}

.menu-contact h1 {
  text-align: center;
}

.menu-contact h3, h4 {
  text-align: center;
  padding: 10px;
}

.menu-contact table {
  width: 80%;
  margin: 20px auto;
  background-color: #999;
  border-radius: 10px;
  padding: 10px;
}

.menu-contact input, textarea {
  width: 100%;
}

.menu-contact input {
  height: 30px;
}
.menu-contact table a button {
  width: 80px;
  height: 30px;
  background-color: #444;
  border: 2px solid #444;
  margin: 3px;
  border-radius: 3px;
  font-weight: 500;
  color: white;

}

.menu-contact table a button:hover {
  width: 80px;
  height: 30px;
  background-color: rgb(90, 90, 90);
  border: rgb(90, 90, 90);
  cursor: pointer;
}
/* Akhir Contact */

/* Footer */

footer {
  background-color: #222;
  margin-top: 100px;
  color: white;
  height: 60px;
  text-align: center;
  line-height: 60px;
  
}

/* Akhir Footer */

/* Style profil */
.profil {
  margin-top: 140px;
}

table {
  margin-top: 20px;
  margin-bottom: -60px;

}

table tr td{
  padding: 9px;
  padding-bottom: 0px;

}
.table-container {
  margin: 40px auto;
  padding: 15px;
  width: 70%;
  background-color: rgba(172, 171, 171, 0.95);
  color: black;
  border-radius: 10px;
  
}

.table-container .profil-cadangan {
  display: none;
}
.table-container h1 {
  text-align: center;
}

table tr td img {
  display: block;
  border-radius: 5% ;
  border-color: white;
  margin-right: 30px;
  border: 2px;
}

.get-touch p {
 text-align: center;
}
.table-container  a i {
  font-size: 30px;
  padding-top: 15px;
  padding-right: 15px;
  transition: 0.3s;
  color: #222;
}

.table-container  a i:hover {
  transform: scale(1.3);
}

/* Akhir Style profil */


/* style untuk semua materi learning */
.container-materi {
  width: 80%;
  margin: 180px auto 50px auto;
  padding: 20px;
  background-color: #444;
  color: white;
  border-radius: 10px;
}

.container-materi .my-profile img {
  border-radius: 50%;
  transition: all 0.8s;
}

.container-materi .my-profile img:hover {
  transform: scale(1.3) rotate(360deg);
}

.container-materi .my-profile {
  display: flex;
  padding: 10px;
}

.container-materi .my-profile p {
  padding: 12px 12px;
}

.container-materi .my-profile p a {
  text-decoration: none;
  color: white;
}

.container-materi .my-profile p a:hover {
  color: rgb(91, 91, 250);
  border-bottom: 1px solid rgb(91, 91, 250);
}

.container-materi h1 {
  font-size: 35px;
  padding-top: 15px;
}
.container-materi hr {
  width: 100%;
  margin: 30px 0;
}

.container-materi .img-materi {
  width: 90%;
  height: auto;
  margin: 40px auto;
}
.container-materi .tambahan a {
  text-decoration: none;
  color: rgb(31, 240, 153);
  padding-bottom: 5px;
}

.container-materi .tambahan a li:hover {
  color: rgb(158, 255, 215);
}

/* akhir style untuk semua materi learning */

/* style untuk  materi sumber belajar */

.sumber-belajar a {
  text-decoration: none;
  color: rgb(31, 240, 153);
}

.sumber-belajar a:hover {
  color: rgb(158, 255, 215);
}
/* akhir style untuk materi sumber belajar */

/* Responsive styles */


@media (max-width: 960px) {
  header .nav {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    transition-property: color;
  }

  label:hover {
    color: #eee;
  }

  label .close {
    display: none;
  }

  #check:checked ~ header .nav {
    z-index: 2;
    position: fixed;
    background: rgba(201, 199, 199, 0.86);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .nav a {
    font-size: 30px;
    font-weight: 600;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .open {
    display: none;
  }

  #check:checked ~ header label .close {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .open {
    position: absolute;
  }

  header.logo {
    position: absolute;
    bottom: -6px;
  }

  .content .info h2 {
    font-size: 50px;
    line-height: 50px;
    margin-left: 60px;
  }

  .content .info h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 15px;
    margin-left: 110px;
    margin-bottom: 50px;
  }

  
  .container-materi {
    width: 90%;
    margin-top: 30%;
  }

  .table-container {
    width: 85%;
    font-size: 12px;
    padding: 20px;
  }

  .table-container img {
    width: 110px;
    height: auto;
  }

}

@media (max-width: 575px) {
  body {
    margin-top: 100px;
  }

  header {
    height: 100px;
  }

  header .nav a:nth-child(1){
    margin-top: 50px;
  }

  /* Judul website */
  .content .info h2 {
    font-size: 38px;
    line-height: 40px;
    margin-left: 40px;
  }

  .content .info h2 span {
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p {
    margin-top: 50px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .learning .container {
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }

  footer {
    font-size: 11px;
    justify-content: center;
    align-items: center;
  }

  /* responsive untuk semua materi learning */
  .container-materi {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  .container-materi .my-profile {
    font-size: 14px;
  }
  .container-materi h1 {
    font-size: 28px;
  }
  
  /* Akhir responsive untuk semua materi learning */

  .table-container {
    width: 90%;
    padding-left: 0;
    padding-bottom: 30px;
  }

  .table-container img {
    display: none;
  }

  table {
    padding: 0;
  }

  .table-container .profil-cadangan {
    display: block;
    margin: 15px auto;
  }

  .table-container .get-touch a i {
    font-size: 25px;
  }

  .menu-contact table {
    width: 95%;
    margin:auto;
    border-radius: 5px;
  }

  .menu-contact h3, h4 {
    font-size: 14px;
  }
}
