@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 114px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(img/bg-computer2.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(172, 171, 171, 0.95);
  z-index: 5;
  font-size: 18px;
}

header .logo {
  position: relative;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: backround;
}

header .nav a:not(:last-child) {
  margin-right: 30px;
}

header .nav a:hover {
  background-color: #fff;
}

/* Akhir header */

/* Menu navbar learning, about dan contact */
.learning {
  padding-top: 120px;
}

.about {
  padding-top: 120px;
}

.contact {
  padding-top: 120px;
}

.content .info h2 {
  color: rgb(80, 78, 78);
  font-size: 67px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 70px;
  margin-bottom: 30px;
  margin-left: 240px;
  margin-top: 50px;
}

.content .info h2 span {
  color: rgb(80, 78, 78);
  font-size: 50px;
  font-weight: 500;
  margin-left: 20px;
}

.content .info p {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 40px;
  margin-left: 300px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.icon a {
  position: relative;
  color: #222;
  font-size: 35px;
  transition: 0.3s;
  transition-property: transform;
}

.icon a:not(:last-child) {
  margin-right: 40px;
}

.icon a:hover {
  transform: scale(1.3);
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

/* Akhir Menu navbar learning, about dan contact */

/* Learning */
.learning {
  min-height: 700px;
}
.learning h1 {
  text-align: center;
}

.learning hr, .about hr {
  width: 230px;
  margin: 20px auto 50px auto;
}

.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  text-align: center;
}

.learning .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.learning .container a {
  text-decoration: none;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  margin: 8px;
  padding: 15px;
  background-color: #444;
  color: white;
}

a .card .konten .sub-judul {
  font-weight: bold;
  font-size: 18px;
}

.card .gambar img {
  width: 95%;
  height: 140px;
  border-radius: 8px;
}

.learning .container a .card .gambar {
  padding-bottom: 6px;
}

.learning .container a .card {
  transition-property: transform;
  transition: 0.3s;
}

.learning .container a .card:hover {
  transform: scale(1.035);
}

.card .konten .paragraf {
  font-size: 12px;
  color: #999;
}

.card .konten .sub-judul:hover {
  color: rgb(97, 99, 246);
}

.fa-html5 {
  color: rgb(255, 136, 0);
}

.fa-css3-alt {
  color: rgb(96, 96, 248);
}

.fa-js-square {
  color: rgb(255, 179, 0);
}

/* Akhir Learning */

/* About */
.about {
  min-height: 550px;
  padding-bottom: 100px;
  background-color: #eee;
}
.about h1 {
  text-align: center;
}

.about .anggota {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 8px;
  padding: 15px;
  background-color: #444;
  color: white;
}

.container-about {
  width: 90%;
  margin: 50px auto;
  padding-left: 100px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 25px;
}

.about .container-about img {
  border-radius: 50%;
}

.about .container-about i {
  font-size: 25px;
  margin-top: 10px;
}
.about .container-about .anggota .link-profil {
  border: 1px solid #0dcaf0;
  padding: 2px 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.about .container-about .anggota .link-profil a {
  text-decoration: none;
  color: #0dcaf0;
}

.about .container-about .anggota .link-profil:hover {
  background-color: #0dcaf0;
}

.about .container-about .anggota .link-profil a:hover {
  color: black;
}
.about p a i {
  transition: 0.3s;
  transition-property: transform;
  color: #222;
}

.about p a i:hover {
  transform: scale(1.3);
}

/* Akhir about */

/* Contact */



/* Akhir Contact */

/* Footer */

footer {
  background-color: #222;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Akhir Footer */

/* style untuk materi javascript */
.container-js {
  width: 80%;
  margin: 180px auto 50px auto;
  padding: 20px;
  background-color: #444;
  color: white;
  border-radius: 10px;
}

.container-js .my-profile img {border-radius: 50%;}

.container-js .my-profile {
  display: flex;
  padding: 10px;
}

.container-js .my-profile p {padding: 12px 12px;}

.container-js .my-profile p a {
  text-decoration: none;
  color: white;
}

.container-js .my-profile p a:hover {
  color: rgb(91, 91, 250);
  border-bottom: 1px solid rgb(91, 91, 250);
}

.container-js h1 {
  font-size: 35px;
  padding-top: 15px;
}

.container-js hr {margin: 40px 0;}

.container-js .gbr-utama {
  max-width: 100%;
  height: auto;
  margin: 40px 15%;
  box-sizing: border-box;
  transition-property: transform;
  transition: 0.3s;
}

.container-js .gbr-utama:hover {
  transform: scale(1.015);
}

.container-js .sub-gbr {
  max-width: 100%;
  height: auto;
  margin: 40px 25%;
  box-sizing: border-box;
}

.container-js .gbr-kode-besar {
  max-width: 100%;
  height: auto;
  margin: 40px 15%;
  box-sizing: border-box;
}

.container-js .gbr-browser {
  max-width: 100%;
  height: auto;
  margin: 40px 15%;
  box-sizing: border-box;
}

.container-js .gbr-kode-kecil {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container-js .tambahan a {
  text-decoration: none;
  color: rgb(31, 240, 153);
  padding-bottom: 5px;
}

.container-js .tambahan {
  width: 160px;
}

.container-js .tambahan a li:hover {
  color: rgb(158, 255, 215);
}

.container-js .tambahan a *:active {
  background-color: rgba(158, 255, 215, 0.4);
}
/* Akhir style untuk materi javascript */


/* style untuk sumber belajar */
.container-sumber-belajar .my-profile img {border-radius: 50%;}

.container-sumber-belajar .my-profile {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.container-sumber-belajar .my-profile p {padding: 12px 12px;}

.container-sumber-belajar .my-profile p a {
  text-decoration: none;
  color: white;
}

.container-sumber-belajar .my-profile p a:hover {
  color: rgb(91, 91, 250);
  border-bottom: 1px solid rgb(91, 91, 250);
}

.container-sumber-belajar hr {margin: 40px 0;}

.container-sumber-belajar {
  width: 80%;
  margin: 180px auto 50px auto;
  padding: 20px;
  background-color: #444;
  color: white;
  border-radius: 10px;
}

.container-sumber-belajar .gambar {
  max-width: 100%;
  height: auto;
  margin: 40px 25%;
  transition-property: transform;
  transition: 0.3s;
}

.container-sumber-belajar .gambar:hover {
  transform: scale(1.025);
}

.container-sumber-belajar a {
  color: white;
  text-decoration: none;
  color: rgb(31, 240, 153);
}

.container-sumber-belajar a:hover {
    color: rgb(158, 255, 215);
}

/* Akhir style untuk sumber belajar */





/* Responsive styles */

@media (max-width: 1150px) {
  .container-about {
    padding-left: 70px;
  }

  .container-js .gbr-utama {
    max-width: 100%;
    height: auto;
    margin: 50px 0;
    padding: 0 700px;
    box-sizing: border-box;
  }

  .container-js .gbr-kode-besar {
    max-width: 100%;
    height: auto;
    margin: 40px 15%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .container-js .gbr-browser {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

@media (max-width: 960px) {
  header .nav {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    transition-property: color;
  }

  label:hover {
    color: #eee;
  }

  label .close {
    display: none;
  }

  #check:checked ~ header .nav {
    z-index: 2;
    position: fixed;
    background: rgba(201, 199, 199, 0.86);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .nav a {
    font-size: 30px;
    font-weight: 600;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .open {
    display: none;
  }

  #check:checked ~ header label .close {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .open {
    position: absolute;
  }

  header.logo {
    position: absolute;
    bottom: -6px;
  }

  .content .info h2 {
    font-size: 50px;
    line-height: 50px;
    margin-left: 60px;
  }

  .content .info h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p {
    font-size: 15px;
    margin-left: 110px;
    margin-bottom: 50px;
  }

  .container-about {
    padding-left: 50px;
  }

  /* responsive untuk materi javascript */
  .container-js {
    width: 90%;
    margin-top: 30%;
  }

  .container-js .gbr-utama {
    max-width: 100%;
    height: auto;
    margin: 50px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .container-js .sub-gbr {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .container-js .gbr-kode-besar {
    max-width: 100%;
    height: auto;
    margin: 40px 5%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .container-js .gbr-browser {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .container-js .gbr-kode-kecil {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  /* Akhir responsive untuk materi javascript */

  /* responsive untuk materi sumber belajar */
  .container-sumber-belajar {
    width: 90%;
  }
  .container-sumber-belajar h1 {
    font-size: 25px;
  }

  .container-sumber-belajar .gambar {
    max-width: 100%;
    height: auto;
    margin: 50px 5%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  /* akhir responsive untuk materi sumber belajar */
}

@media (max-width: 575px) {
  body {
    margin-top: 100px;
  }

  header {
    height: 100px;
  }

  /* Judul website */
  .content .info h2 {
    font-size: 38px;
    line-height: 40px;
    margin-left: 40px;
  }

  .content .info h2 span {
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p {
    margin-top: 50px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .learning .container {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }

  footer {
    font-size: 11px;
    justify-content: center;
    align-items: center;
  }

  .container-about {
    grid-gap: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }

  /* responsive untuk materi javascript */
  .container-js {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  .container-js .my-profile {
    font-size: 15px;
  }
  .container-js h1 {
    font-size: 28px;
  }
  .container-js .gbr-utama {
    width: 100%;
    height: auto;
    padding: 0 8px;
    box-sizing: border-box;
  }

  .container-js .sub-gbr {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .container-js .gbr-kode-besar {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .container-js .gbr-browser {
    max-width: 100%;
    height: auto;
    margin: 40px 0;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .container-js .gbr-kode-kecil {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  /* Akhir responsive untuk materi javascript */


   /* responsive untuk materi sumber belajar */
   .container-sumber-belajar {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
   }

   .container-sumber-belajar .my-profile p {
    font-size: 13px;
   }
   .container-sumber-belajar h1 {
    font-size: 18px;
  }

   .container-sumber-belajar .gambar {
    margin: 50px 0;
  }
  /* akhir responsive untuk materi sumber belajar */
}


@media (max-width: 500px) {
  .container-about {
    padding: 0 auto;
  }
}
